<style>
.blink {
        margin-top: 15px;
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@@keyframes blink{
    0%{color:black}
    25%{color:red}
    100%{color:yellow}
}
@@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
</style>
@if (Session["TaiKhoan"] == null && Session["IsAdmin"]==null)
{
    <li><a href="@Url.Action("DangKy","NguoiDung")"><span class="glyphicon glyphicon-user"></span>Đăng kí</a></li>
    <li><a href="@Url.Action("DangNhap","NguoiDung")"><span class="glyphicon glyphicon-log-in"></span>Đăng nhập</a></li>
}

else
{

    @*<span title="người dùng" class="blink">Xin chào</span>*@

    <li  class="blink">
       
                @if (ViewBag.UserName != "")
                    {
                        @ViewBag.UserName
                    }
       
    </li>

    <i class="fa fa-sign-out"></i>
    <li><a href="@Url.Action("DangXuat","NguoiDung")"><span class="glyphicon glyphicon-log-out"></span>Đăng xuất</a></li>

}
