@*Giỏ Hàng<a title ="Giỏ Hàng" href="@Url.Action("GioHang","GioHang")"><i class="fa fa-shopping-cart"></i>(@ViewBag.TongSoLuong)</a>*@
<li><a href="@Url.Action("GioHang","GioHang")"><span class="glyphicon glyphicon-shopping-cart"></span>(@ViewBag.TongSoLuong)Giỏ hàng</a></li>
