
@{
    Layout = "~/Views/Layout/_LayoutNguoiDung.cshtml";

}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thankyou</title>
    <style>
        #right {
            float: right;
            margin-top: -200px;
            margin-right: 500px;
        }
    </style>
</head>
<body>
    <div id="right"> 
       
            <p>Cảm ơn đã gửi yêu cầu cho chúng tôi!!!</p>
        
    </div>
    
</body>
</html>
