
@{
    ViewBag.Title = "Tư vấn speech";
    Layout = "~/Content/Layoutnguoidung/_LayoutNguoiDung.cshtml";
}

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <style>
     
        #speech_content{

            border:1px solid red;
            background-color:red;
            color:white;
            min-height:198px;
            margin-bottom:25px;
            
        }
    </style>

<div id="speech_content">
    <div style="text-align:center">Hãy nói yêu cầu của bạn bằng tiếng anh</div>
 
     @using (Ajax.BeginForm(
                       "Result",
                       "Speech",
                       null,
                       new AjaxOptions
                       {
                           UpdateTargetId = "lblResult",
                           InsertionMode = InsertionMode.Replace,
                           HttpMethod = "POST"
                       },
                       new { id = "SampleForm" }
                       ))
     {

            @*text cuối cùng*@
            <span name="text" id="speech" style="text-align:center"></span>
            @*text đang nói*@
            <span id="interim" style="text-align:center"></span>
            @*giá trị bằng text cuối cùng*@
            <input style="margin:20px;" type="text" name="text" id="text" />
            @*hiện kết quả sử dụng ajax*@
            <button style="text-align:center" type="submit" name="submit">Hiển thị kết quả</button>
             
       }
    <div id="lblResult">

    </div>
</div>





<script>
    function upgrade() {
      alert('Please use Google Chrome for best experience');
    }

    window.onload = function () {
      if (!(window.webkitSpeechRecognition) && !(window.speechRecognition)) {
        upgrade();
      } else {
          $('[name="text"]').on('change', function () {
               $('[name="speech"]').val($(this).val());
          });

        var recognizing,
        transcription = document.getElementById('speech'),
        interim_span = document.getElementById('interim');
        message = document.getElementById('text');
        
        interim_span.style.opacity = '0.5';


        function reset() {
          recognizing = false;
          interim_span.innerHTML = '';
          transcription.innerHTML = '';
          message.innerHTML = '';
          speech.start();
        }

        var speech = new webkitSpeechRecognition() || speechRecognition();

        speech.continuous = true;
        speech.interimResults = true;
        speech.lang = 'en-US'; // check google web speech example source for more lanuages
        speech.start(); //enables recognition on default

        speech.onstart = function() {
            // When recognition begins
            recognizing = true;
        };

        speech.onresult = function(event) {
          // When recognition produces result
          var interim_transcript = '';
          var final_transcript = '';
          var final_message = '';

          // main for loop for final and interim results
          for (var i = event.resultIndex; i < event.results.length; ++i) {
            if (event.results[i].isFinal) {
              final_transcript += event.results[i][0].transcript;
            } else {
                interim_transcript += event.results[i][0].transcript;
                final_message += event.results[i][0].message;
            }
          }
          transcription.innerHTML = final_transcript;
          interim_span.innerHTML = interim_transcript;
            //gán giá trị input bằng giá trị text cuối cùng
          document.getElementById("text").value = final_transcript;
        };

        speech.onerror = function(event) {
            // Either 'No-speech' or 'Network connection error'
            console.error(event.error);
        };

        speech.onend = function() {
            // When recognition ends
            reset();
        };
        

      }
     
    };
</script>


