@model IEnumerable<TuVanLaptoop.Models.Laptop>


<h3>Sản phẩm mới</h3>
@foreach (var item in Model)
{
    <div class="thumbnail" style="height:184px">
        <a href="@Url.Action("XemChiTiet","SanPham",new { @MaLaptop = item.Id })" target="_blank">
            <img src="@Url.Content("~/HinhAnhSanPham/"+item.AnhBia)" alt="Lights" style="width:72%;height:125px;">
            <div class="caption">
                <p>@item.Name</p>
            </div>
        </a>
    </div>
}








